<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include/head.ejs") %>
</head>

<body>
    <%- include("../include/navbar.ejs") %>

        <!--Main layout-->
        <main style="margin-top: 58px">

            <!--Section: Minimal statistics cards-->
            <section class="container pt-5">

                <div class="row ">
                    <!-- <div class="col-xl-4 col-sm-6 col-12 mb-4">
                        <div class="card py-4 px-2">
                            <div class="card-body">
                                <div class="d-flex justify-content-between px-md-1">
                                    <div>
                                        <h3 class="text-danger">

                                        </h3>
                                        <p class="mb-0">New Projects</p>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="fas fa-project-diagram text-danger fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-xl-4 col-sm-6 col-12 mb-4">
                        <div class="card py-4 px-2">
                            <div class="card-body">
                                <div class="d-flex justify-content-between px-md-1">
                                    <div>
                                        <h3 class="text-success">
                                            <%= allproject.length  %>
                                        </h3>
                                        <p class="mb-0">Total Project</p>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="fas fa-project-diagram text-success fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-xl-4 col-sm-6 col-12 mb-4">
                        <div class="card py-4 px-2">
                            <div class="card-body">
                                <div class="d-flex justify-content-between px-md-1">
                                    <div>
                                        <h3 class="text-warning">
                                            value
                                        </h3>
                                        <p class="mb-0">Complete Project</p>

                                    </div>
                                    <div class="align-self-center">
                                        <i class="fas fa-check -pie text-warning fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </section>
            <!--Section: Minimal statistics cards-->


            <div class="container pt-4">
                <!-- Section: Main chart -->
                <section class="mb-4">
                    <div class="card">
                        <div class="card-header py-3">
                            <h5 class="mb-0 text-center"><strong>Project</strong></h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <table id="myTable" class="display" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>S.N</th>
                                            <th>Project Name</th>
                                            <th>project Total Price</th>
                                            <th>Advance</th>
                                            <th>Project start date</th>
                                            <th>End Date</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% for(i=0; i<allproject.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <span><%= i+1 %></span>

                                                </td>
                                                <td>
                                                    <span><%= allproject[i].projectName %></span>
                                                </td>
                                                <td><span><%= allproject[i].projectprice %></span></td>
                                                <td><span><%= allproject[i].priceAdvance %></span></td>
                                                <td><span><%= allproject[i].projectstartdate %></span></td>
                                                <td><span><%= allproject[i].projectenddate %></span></td>

                                            </tr>
                                            <% } %>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section: Main chart -->
            </div>
        </main>
        <!-- MDB -->
        <%- include("../include/footer.ejs") %>



</body>

</html>