<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include/head.ejs") %>
</head>

<body>
    <%- include("../include/navbar.ejs") %>

        <!--Main layout-->
        <main style="margin-top: 58px">

            <section class="team text-center py-5">
                <div class="container">
                    <div class="header my-5">
                        <h1>Meet our Team </h1>
                    </div>
                    <div class="row">
                        <% for(i=0; i<alluserdetails.length; i++) { %>
                            <div class="col-md-6 col-lg-3 p-3">
                                <div class="img-block mb-5 border  border-primary border-1 p-2 ">
                                    <img src="/src/uploadedimage/<%= alluserdetails[i].teamaddimage %>" class="img-fluid img-thumbnail  rounded-circle shadow-lg" alt="image1">
                                    <div class="content mt-2">
                                        <h4>
                                            <%= alluserdetails[i].memberName  %>
                                        </h4>
                                        <p class="text-muted">
                                            <%= alluserdetails[i].position  %>
                                        </p>
                                        <a href="/admin/personal/<%= alluserdetails[i].id  %>" class="btn btn-secondary">View More</a>
                                    </div>
                                </div>

                            </div>
                            <% } %>
                                <!-- <div class="col-md-6 col-lg-3 ">
                            <div class="img-block mb-5">
                                <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" class="img-fluid  img-thumbnail rounded-circle shadow-lg" alt="image1">
                                <div class="content mt-2">
                                    <h4>Syndia Lee</h4>
                                    <p class="text-muted">UI & UX Developer</p>
                                    <a href="" class="btn btn-secondary">View More</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="img-block mb-5">
                                <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" class="img-fluid  img-thumbnail rounded-circle shadow-lg" alt="image1">
                                <div class="content mt-2">
                                    <h4>Noel Flantier</h4>
                                    <p class="text-muted">Backend Developer</p>
                                    <a href="" class="btn btn-secondary">View More</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="img-block mb-5">
                                <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg" class="img-fluid  img-thumbnail rounded-circle shadow-lg" alt="image1">
                                <div class="content mt-2">
                                    <h4>Bobby Doe</h4>
                                    <p class="text-muted">Street Artist</p>
                                    <a href="" class="btn btn-secondary">View More</a>

                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </section>
        </main>
        <!-- MDB -->
        <%- include("../include/footer.ejs") %>



</body>

</html>