<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include/head.ejs") %>

</head>

<body>
    <%- include("../include/navbar.ejs") %>

        <!--Main layout-->
        <main style="margin-top: 58px">

            <section class="team text-center py-5">
                <div class="container">
                    <div class="header my-5">
                        <h1>Project Details </h1>
                    </div>
                    <div class="row">
                        <table id="myTable" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>S.N</th>
                                    <th>Project Name</th>
                                    <th>project Total Price</th>
                                    <th>Advance</th>
                                    <th>Project start date</th>
                                    <th>End Date</th>
                                    <th>assigned Member</th>
                                    <th>Customer</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% for(i=0; i<allproject.length; i++) { %>
                                    <tr>
                                        <td>
                                            <span><%= i+1 %></span>

                                        </td>
                                        <td>
                                            <span><%= allproject[i].projectName %></span>
                                        </td>
                                        <td><span><%= allproject[i].projectprice %></span></td>
                                        <td><span><%= allproject[i].priceAdvance %></span></td>
                                        <td><span><%= allproject[i].projectstartdate %></span></td>
                                        <td><span><%= allproject[i].projectenddate %></span></td>
                                        <td><span><%= allproject[i].teamId %></span></td>
                                        <td><span><%= allproject[i].clientId %></span></td>
                                        <td>
                                            <a class="" id="dropdownMenuButton2" role="" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i> </a>
                                            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuButton2">
                                                <li><a class="dropdown-item text-primary" href="/admin/assignproject/<%= allproject[i].id %>"><i class="fas fa-plus"></i> Assign </a></li>

                                                <li><a class="dropdown-item text-primary" href="#"><i class="fas fa-edit"></i> Edit </a></li>
                                                <li><a class="dropdown-item text-danger" href="/admin/projectdelete/<%= allproject[i].id %>"><i class="fas fa-trash-alt"></i> Delete</a></li>
                                            </ul>

                                        </td>
                                    </tr>
                                    <% } %>


                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </main>
        <!-- MDB -->
        <%- include("../include/footer.ejs") %>



</body>

</html>