<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include/head.ejs") %>
        <style>
            main {
                padding-left: 0px !important;
            }
        </style>
<<<<<<< HEAD
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

=======
>>>>>>> 79d70b95157309323b77f385cc63f455931fbaa1
</head>

<body>
    <<!--Main Navigation-->

        <header>



            <!-- Navbar -->
            <!--Main Navigation-->
            <header>


                <!-- Navbar -->
                <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
                    <!-- Container wrapper -->
                    <div class="container-fluid">


                        <!-- Brand -->
                        <a class="navbar-brand " href="#">
                            <img src="/vendor/image/team-management--removebg-preview.png" height="50" alt="" loading="lazy" />
                        </a>

                        <!-- Right links -->
                        <ul class="navbar-nav ms-auto  d-flex flex-row">



                            <!-- </li> -->
                            <li class="nav-item dropdown">
<<<<<<< HEAD
                                <div class="dropdown me-5 mt-1">
                                    <a class="" id="dropdownMenuButton2" role="" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span>                                    <img src="/src/uploadedimage/<%= employeeName.teamaddimage %> " class="rounded-circle" height="22" alt="" loading="lazy" />
                                       </span> <span class="text-uppercase"> <%= employeeName.memberName %> <i class="fas fa-angle-down ms-2"></i> </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="/team/profile">My Profile</a></li>
                                        <li><a class="dropdown-item" href="/team/logout">Logout</a></li>
=======
                                <div class="dropdown mt-1">
                                    <a class="" id="dropdownMenuButton2" role="" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22" alt="" loading="lazy" />
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                                        <li><a class="dropdown-item" href="#">Setting</a></li>
                                        <li><a class="dropdown-item" href="#">Logout</a></li>
>>>>>>> 79d70b95157309323b77f385cc63f455931fbaa1
                                    </ul>
                                </div>
                            </li>

                            <!-- Avatar -->
                            <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22" alt="" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">My profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li> -->
                        </ul>
                    </div>
                    <!-- Container wrapper -->

                </nav>
                <!-- Navbar -->

            </header>


        </header>
        <!--Main Navigation-->

        <!--Main layout-->
        <main style="margin-top: 58px">

            <div class="container-fluid mt-1 navbar-light bg-white">
                <div class="row d-flex justify-content-around">
                    <div class="col-md-4 d-flex  justify-content-center ">
<<<<<<< HEAD

=======
>>>>>>> 79d70b95157309323b77f385cc63f455931fbaa1
                        <div>
                            <a href="/team/" class="nav-item nav-link text-dark active"> <i class="fas fa-tasks"></i> Project </a>
                        </div>
                        <div>
                            <a href="/team/submitportal" class="nav-item nav-link text-primary active"> <i class="fas fa-check-square"></i> Submit Portal</a>
                        </div>

                    </div>
                </div>
            </div>


            <div class="container pt-4">
                <!-- Section: Main chart -->
                <section class="team  py-1">
                    <div class="container">
                        <div class="header my-1 text-center">
                            <h1>Project Submit </h1>
                        </div>
                        <div class="row  d-flex  justify-content-around ">
                            <div class="col-md-4 border border-dark">
<<<<<<< HEAD
                                <form action="/team/submitproject" method="post" enctype="multipart/form-data">
                                    <div class="form-group">

                                        <div> <label for="selectproject">Select Project</label>
                                        </div>
                                        <select class="form-select p-2" id="selectproject" name="sproject">
                                            <% for(let  i = 0; i < projectd.length; i++) { %> 
                                                <option value="<%= projectd[i].id %>"> <%= projectd[i].projectName %></option>
                                            <%  } %> 
                                        </select> </div>
                                    <div class="form-group">
                                        <label for="choosefile">Select File</label>
                                        <input required type="file" class="form-control" name="completeproject" id="choosefile">
=======
                                <form>
                                    <div class="form-group">
                                        <div> <label for="selectproject">Select Project</label>
                                        </div>
                                        <select class="form-select p-2" id="selectproject" name="sproject">
                                                <option value=""> B & B School  </option>
                                        </select> </div>
                                    <div class="form-group">
                                        <label for="choosefile">Select File</label>
                                        <input type="file" class="form-control" id="choosefile">
>>>>>>> 79d70b95157309323b77f385cc63f455931fbaa1
                                    </div>
                                    <div class="text-center mt-2">
                                        <button type="submit" class="btn btn-primary">Submit</button>

                                    </div>
                                </form>
<<<<<<< HEAD

=======
>>>>>>> 79d70b95157309323b77f385cc63f455931fbaa1
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section: Main chart -->
            </div>
        </main>
        <!-- MDB -->
        <%- include("../include/footer.ejs") %>
<<<<<<< HEAD
            <% if(submitpass == 'submit') {%>
                <script>
                    Toastify({
                        text: "Project Submitted",
                        backgroundColor: "rgba(21,167,68,1)",
                        position: "right",
                        duration: 1000,
                        className: "info",
                    }).showToast();
                </script>
                <% } %>
=======

>>>>>>> 79d70b95157309323b77f385cc63f455931fbaa1


</body>

</html>