<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../include/head.ejs") %>
        <style>
            main {
                padding-left: 0px !important;
            }
        </style>
</head>

<body>

    <header style="overflow-x: scroll;">



        <!-- Navbar -->
        <!--Main Navigation-->
        <header>
            <!-- Navbar -->
            <nav id="main-navbar" class=" row navbar navbar-expand-lg navbar-light bg-white fixed-top">
                <!-- Container wrapper -->
                <div class="container-fluid ">
                    <!-- Brand -->
                    <a class="navbar-brand" href="#">
                        <img src="/vendor/image/team-management--removebg-preview.png" height="50" alt="" loading="lazy" />
                    </a>

                    <!-- Right links -->
                    <ul class="navbar-nav ms-auto d-flex flex-row">


                        <li class="nav-item dropdown">
                            <div class="dropdown pe-5 mt-1">

                                <a class="" id="dropdownMenuButton2" role="" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="text-uppercase"> <%= clientdetails.clientName %> <i class="fas fa-angle-down ms-2"></i> </span>

                                </a>

                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                                    <li><a class="dropdown-item" href="/client/logout">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>


            </nav>
            <!-- Navbar -->


        </header>


    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main style="margin-top: 79px " class=" ">
        <div class="container-fluid mt-1 navbar-light bg-white">
            <div class="row d-flex justify-content-around">
                <div class="col-md-4 d-flex  justify-content-center ">
                    <div>
                        <a href="/client/" class="nav-item nav-link text-dark "> <i class="fas fa-tasks"></i> Project </a>
                    </div>
                    <div>
                        <a href="/client/paymentpage" class="nav-item nav-link text-dark "> <i class="fas fa-credit-card"></i> Payment</a>
                    </div>
                    <div>
                        <a href="/client/message" class="nav-item nav-link text-dark "> <i class="fas fa-envelope"></i> Message</a>
                    </div>

                </div>
            </div>
        </div>
        <!--Section: Minimal statistics cards-->
        <!--Section: Minimal statistics cards-->

        <!--Section: Minimal statistics cards-->

        <div class="container-fluid pt-4  ">
            <!-- Section: Main chart -->
            <section class="team  py-1">
                <div class="container">
                    <div class="header my-1 text-center">
                        <h1>Profile Details</h1>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-4">
                            <div class="card">

                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-4 d-flex justify-content-end p-2">
                                            <img src="/vendor/image/clientnormal.png" height="50" width="50" alt="" class="img-thumbnail">
                                        </div>
                                        <div class="col-8 p-2">
                                            <h4 class="mt-2 text-uppercase">
                                                <%= clientdetails.clientName %>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row m-2">
                                        <div class="col-6">
                                            <p class="card-subtitle mb-2 text-muted">Address</p>
                                            <h6 class="card-title text-dark">
                                                <%=  clientdetails.clientAddress %>
                                            </h6>

                                        </div>
                                        <div class="col-6">
                                            <p class="card-subtitle mb-2 text-muted">Email</p>
                                            <h6 class="card-title text-dark">
                                                <%=  clientdetails.email %>
                                            </h6>

                                        </div>
                                    </div>
                                    <div class="row m-2">
                                        <div class="col-6">
                                            <p class="card-subtitle mb-2 text-muted">Phone Number</p>
                                            <h6 class="card-title text-dark">
                                                <%=  clientdetails.clientPhone %>
                                            </h6>

                                        </div>
                                        <div class="col-6">
                                            <p class="card-subtitle mb-2 text-muted">Gender</p>
                                            <h6 class="card-title text-dark">
                                                <%=  clientdetails.clientgender %>

                                            </h6>

                                        </div>
                                    </div>
                                    <div class="p-3"> <a href="/client/profileupdate/<%=  clientdetails.id %>" class="btn btn-primary  w-100">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Main chart -->
        </div>
    </main>
    <!-- MDB -->
    <%- include("../include/footer.ejs") %>



</body>

</html>