<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../include/head.ejs") %>
        <style>
            main {
                padding-left: 0px !important;
            }
        </style>
        <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>

</head>

<body>

    <header style="overflow-x: scroll;">



        <!-- Navbar -->
        <!--Main Navigation-->
        <header>
            <!-- Navbar -->
            <nav id="main-navbar" class=" row navbar navbar-expand-lg navbar-light bg-white fixed-top">
                <!-- Container wrapper -->
                <div class="container-fluid ">
                    <!-- Brand -->
                    <a class="navbar-brand" href="#">
                        <img src="/vendor/image/team-management--removebg-preview.png" height="50" alt="" loading="lazy" />
                    </a>

                    <!-- Right links -->
                    <ul class="navbar-nav ms-auto d-flex flex-row">


                        <li class="nav-item dropdown">
                            <div class="dropdown pe-5 mt-1">
                                <a class="" id="dropdownMenuButton2" role="" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="text-uppercase"> <%= clientd.clientName %> <i class="fas fa-angle-down ms-2"></i> </span>

                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                                    <li><a class="dropdown-item" href="/client/profile">My Profile</a></li>
                                    <li><a class="dropdown-item" href="/client/logout">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>


            </nav>
            <!-- Navbar -->


        </header>


    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main style="margin-top: 79px " class=" ">
        <div class="container-fluid mt-1 navbar-light bg-white">
            <div class="row d-flex justify-content-around">
                <div class="col-md-4 d-flex  justify-content-center ">
                    <div>
                        <a href="/client/" class="nav-item nav-link text-dark "> <i class="fas fa-tasks"></i> Project </a>
                    </div>
                    <div>
                        <a href="/client/paymentpage" class="nav-item nav-link text-primary "> <i class="fas fa-credit-card"></i> Payment</a>
                    </div>
                    <div>
                        <a href="/client/message" class="nav-item nav-link text-dark "> <i class="fas fa-envelope"></i> Message</a>
                    </div>

                </div>
            </div>
        </div>
        <!--Section: Minimal statistics cards-->
        <!--Section: Minimal statistics cards-->

        <!--Section: Minimal statistics cards-->

        <div class="container-fluid pt-4  ">
            <!-- Section: Main chart -->
            <section class="team  py-1">
                <div class="container">
                    <div class="header my-1 text-center">
                        <h3>Payment </h3>
                    </div>
                    <div class="row  d-flex  justify-content-around ">
                        <div class="col-md-6 border border-dark p-2">
                            <div class="row d-flex justify-content-center">

                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <h6 class="card-title ">Due Amount:
                                            <%= damount %>
                                        </h6>
                                        <div class=" mt-4 d-flex justify-content-center">
                                            <button id="payment-button" type="submit" class="btn btn-primary">Pay with Khalti</button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Main chart -->
        </div>
    </main>
    <!-- MDB -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        let data = '<%= damount%>';
        let duea = parseInt(data)
        console.log(duea)
        var config = {

            // replace the publicKey with yours
            "publicKey": "test_public_key_22c404d314ce46f8b1a4a1cf2247e9e9",
            "productIdentity": "1234567890",
            "productName": "Project nmanagement",
            "productUrl": "http://127.0.0.1:5500/index.html",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
            ],
            "eventHandler": {
                onSuccess(payload) {
                    $.ajax({
                            type: "POST",
                            url: "/client/khalti/payment/verify",
                            data: {
                                token: payload.token,
                                amount: payload.amount,
                            },
                            success: function(response) {
                                $.ajax({
                                    type: "GET",
                                    url: "/khalti/storepayment",
                                    data: {
                                        response: response
                                    }
                                })

                                console.log("message")
                                console.log(response);
                            }
                        })
                        // hit merchant api for initiating verfication
                    console.log(payload);
                },
                onError(error) {
                    console.log(error);
                },
                onClose() {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function() {
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({
                amount: duea * 100
            });
        }
    </script>


    <%- include("../include/footer.ejs") %>



</body>

</html>